# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Project specific
models/*
!models/kaggle_model/
!models/kaggle_model/**
data/dialogue/raw/
data/dialogue/low_rated/
data/dialogue/processed/*
!data/dialogue/processed/kaggle_model.json
!data/dialogue/processed/7gouki.json

# IDE 
.idea/
.vscode/
*.swp
*.swo

# OS specific 
.DS_Store
Thumbs.db 