# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Project specific
models/*
!models/kaggle_model/
!models/kaggle_model/**
others/*

# IDE 
.idea/
.vscode/
*.swp
*.swo

# OS specific 
.DS_Store
Thumbs.db 